<%- include("partials/header") %>

<section id="intro">
    <div class="conatiner-fluid">
        <a href="help">HELP</a>
        <a href="/maxform">PROFIT</a>
        <a href="/minform">DURATION</a>
        <a href="contact">CONTACT US</a>
        <h5 class="introhead tophead">OPTIMIZING YOUR PLANS</h5>
        <h1 class="introhead-h1">AA-AC<br>PLANNERS</h1>
        <h5 class="introhead belowhead">PLAN &bull; OPTIMZE &bull; BEHOOF</h5>
    </div>
</section>

<section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="features-heading">Easy to use.</h3>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="features-heading">Achieve Your Goal</h3>
        </div>
        <div class="feature-box col-lg-4">
            <i class="icon fa fa-money fa-4x" aria-hidden="true"></i>
          <h3 class="features-heading">Guaranteed to work.</h3>
        </div>
      </div>
    </div>
</section>


<section id="description">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <h1>Help Section</h1>
            <h3>This Section Gives Description About how this web application works and how to fill the details to get the best optimized results.</h3>
          </div>
          <div class="carousel-item" data-interval="5000">
            <h1>Maximize Profit</h1>
            <h3>This Section will help you to distribute working days accordingly to maximize your profit with a certain amount of budget.</h3>
          </div>
          <div class="carousel-item" data-interval="5000">
            <h1>Minimize Working Days</h1>
            <h3>This Section will help you to distribute working days in such a fashion such that you will earn a certain amount of profit so that there will be no loss atleast.</h3>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</section>



<footer id="footer">
    <div class="container-fluid">
      <a href="https://www.facebook.com/chawla.amal.170401"><i class="icon-footer fab fa-facebook-f"></i></a> 
      <a href="https://www.linkedin.com/in/amal-c-1314a412a/"><i class="icon-footer fa fa-linkedin-square" aria-hidden="true"></i></a> 
      <a href="https://www.instagram.com/_amal_chawla/"><i class="icon-footer fab fa-instagram"></i></a>
      <a href="mailto: chawla.amal.170401@gmail.com"> <i class="icon-footer fas fa-envelope"></i></a> 
      <p>© Copyright 2020 Abhigyan Adarsh And Amal Chawla</p>
    </div>
</footer>



<%- include("partials/footer") %> 